.headerContainer {
    padding: 8px 16px;
    background-color: #1f2935;
    border-bottom: 2px solid #2c3544;
}
.header {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    position: relative;
}
.logo {
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.headerRight {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 8px;
}

.createTaskBtn {
    font-size: 0.85rem;
    border: none;
    background-color: #111727;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.createTaskBtn:hover {
    cursor: pointer;
    background-color: #0a0e18;
}
.createTaskBtn:active {
    outline: 4px solid #111727;
}

@media (max-width: 1200px) {
    .header {
        width: 100%;
    }
}
