.loginCon {
    width: 420px;
    max-width: 100%;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: white;
    border-radius: 8px;
}
.inner {
    padding: 16px 16px 0 16px;
}
.appName {
    font-size: 1.5rem;
    letter-spacing: 12px;
    font-weight: bold;
    text-align: center;
    color: blue;
    margin-bottom: 36px;
}
.formLink {
    margin-top: 8px;
    text-align: center !important;
    display: block;
    font-size: 0.95rem;
}
.formLink a {
    font-size: 0.9rem;
}
.formCover {
    border-radius: 8px;
    overflow: hidden;
}
